<div class="text-center row" id="green">
    <div class="col-lg-8 col-lg-offset-2 centered">
                    <h1>WHAT WE CAN DO?</h1>
                    <h2>Hear what people are talking about.</h2>
                    <h2>Join the conversation.</h2>
                    <p>Tweets, which may include hyperlinks, are limited to 140 characters,
                    due to the constraints of Twitter's Short Message Service (SMS) delivery system. 
                    Because tweets can be delivered to followers in real time,
                    they might seem like instant messages to the novice user. </p>
                    <div class ="jumbotron" style ="height:450px; color:white;
                    background:url(/assets/news.jpg);  background-size:cover;">
    </div><!-- /col-lg-8 -->
</div>