<div id="hello">
<div class="text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
            <h1>Tweetexam</h1>
            <h2>See what’s happening in the world right now</h2>
            <div class ="jumbotron" style ="height:300px; color:white;
            background:url(/assets/smartphone-1445489_960_720.jpg);  background-size:cover;">
            </div>
        </div><!-- /col-lg-8 -->
    </div><!-- /row -->
</div> <!-- /container -->